<div class="container-fluid" ng-controller="PractitionerViewController">
    <div class="row">
        <div class="content-column" class="col-lg-12">
            <div class="CalendarStripe">
                <div ng-controller="AppointmentsCtrl" >
                    <div style="float:left; width: 160px">
                        <daypilot-navigator id="navi" daypilot-config="navigatorConfig" ></daypilot-navigator>
                    </div>
                    <div style="margin-left: 160px">
                        <div class="space">
                            <button ng-click="showDay()">Day</button>
                            <button ng-click="showWeek()">Week</button>
                        </div>
                        <daypilot-calendar id="day" daypilot-config="dayConfig" daypilot-events="events" ></daypilot-calendar>
                        <daypilot-calendar id="week" daypilot-config="weekConfig" daypilot-events="events" ></daypilot-calendar>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
